@import "grid";
@import "variables";

*{
  box-sizing: border-box;
  font-size:16px;
  font-family: $family1;
  // border:1px solid black !important;

}
a{
  text-decoration: none;
}
.hide{
  display:none !important; 
}
.errorSentMsg{
  color:red;
  font-size:0.6rem;
}
.goodSentMsg{
  color:green;
  font-size:0.6rem;

}
.myBtnGoTop{
  position: fixed;
  bottom:40px;
  right:40px;
  display:none;
  border:0;
  border-radius:50px;
  width:50px;
  height:50px;
  background-color: #000;
  color:#fff;
  padding: 15px;
  transition: all .5s ease;
  font-size:3rem;
  &:hover{
    background-color:#841f1f;
  }
}
.nav_mobile{
      width:100px;
      height:20px;
      margin-top:10px;
      // display:flex;
      justify-content: flex-end;
      align-items:center;
      padding: 10px;
      box-sizing:border-box;
        .hamburger{
          float: right;
          margin-top: 10px;
          margin-right: 20px;
          display:block;
          background: transparent;
          width:40px;
          height:35px;
          border:0;
          right:0;
          border-top:5px solid #000;
          position:relative;
          transition: 0.3s transform linear;
          &::before, &::after{
            content: ''; 
            position:absolute;
            top:0;
            left:0;
            width: 100%;
            border-top: 5px solid #000;
            transform: translateY(10px);
          } 
          &::after{
            transform: translateY(25px);
            transition: 0.3s transform linear;
          }  
          &:focus{
            transform:rotate(45deg) translateY(5px);
            border: none;
            &::after{
              transform:rotate(-90deg) translateX(-10px);
            }
          } 
        }
        .mobile_menu{
          border-radius: 20px 0 0 20px;
          display:flex;
          box-sizing:border-box;
          position:absolute;
          top:0px;
          right:0;
          height:auto;
          padding-bottom: 20px; 
          width:70%;
          z-index: 10;
          transform:translateX(100%);
          background: #841f1f;
          transition: 0.6s transform ease-in-out;
          flex-direction:column;
          .close{
            background-color:transparent;
            height:50px;
            width:50px;
            display: flex;
            align-self: center;
            justify-content: center;
            border:none;
            border-radius:4px;
            background-image: url('../img/svg/out.svg');
            background-size: cover;
          }
          .closeAnimation{
            animation:animowany_in 1s linear 1; 
          }
          .closeAnimationOut{
            animation:animowany_out 1s linear 1; 
          }

          ul{
            padding: 0;
            list-style-type: none;
            margin: 0 10px;
            display:flex;
            flex-wrap: wrap;
            align-content:flex-start;
            li{
              background: #fff;
              margin-top: 20px;
              color: blue;
              border-radius:5px;
              flex-basis:100%;
              display:flex;
              height:30px;
                &:hover a::after{
                  display:none;  
                }
              a{
                display:flex;
                padding:10px;
                text-decoration: none;
                align-items:center;
                height:100%;
                width:100%;
              }
            }
          }
        }
      }
/////////////////////////////////////////////////////////////////////////////////////////
// HEADER START
header{
  width:100%;
  height:100px;
  background-color:#fff;
  -webkit-box-shadow:0px 15px 65px 0px rgba(222,221,221,1);
  -moz-box-shadow:0px 15px 65px 0px rgba(222,221,221,1);
  box-shadow: 0px 15px 65px 0px rgba(222,221,221,1);
  z-index: 999;
  
  .hamburger, .nav_mobile{
    display:none;
  }

  nav{
    width: 88%;
    height:100%;
    ul{
      margin-left:40px;
      height: 100%;
      display: flex;
      align-items:center;
      position: relative;
      justify-content: space-around;
      li{
        font-family: $family1; 
        font-weight: bold;
        display:inline-block;
        font-size: 12px;
        letter-spacing: 3px;
        position:relative;
        &:hover .ul-sub-main{
          display:block;
        }
      }
      .menu_pl_img{
        display:block;
        height:50px;
        width:50px;
        border:1px solid black;
        text-align: center;
        line-height: 50px;
      }
      .menu_logo{
        width:100px;
        height:28px;
        background-image: url(' ../img/logo_hotel.png');
      }
        a, a:visited {
          text-decoration: none;
          position: relative;
          color:#1a1414;
        }
        a:after, a:visited:after {
          content: '';
          height: 3px;
          position: absolute;
          top: 15px;
          left: 0;
          width: 0%;
          background: #841f1f; 
          transition: 0.2s;
        }
        a:hover:after, a:visited:hover:after {
          width: 100%;
          
        }
        a:hover{
          color:#841f1f;
        }
      }
      .ul-sub-main{
        display:flex;
        flex-direction:column;
        position:absolute;
        display:none;
        padding-top: 20px;
        // border:1px solid black; 
        border-top: none;
        height:auto;
        width:200px;
        border-radius:4px;
        background-color:#fff;
        .li-sub-main{
          border-bottom: 1px solid #b8b8b8;
          padding: 10px 10px;
          // border:1px solid red;
          width:100%;
          display:block;
        }
      }
    }
  }
// HEADER END

/////////////////////////////////////////////////////////////////////////////////////////


// SECTION 1 START

#section1{
  // top:100px;
  display:flex;
  justify-content:center;
  width:100%;
  height:600px;
  background-image: url('../img/back1.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
  background-position: bottom;
  .right-price{
    height:65px;
    width:300px;
    background-color:#841f1f;
    position:absolute;
    top:55px;
    right: 0px;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    letter-spacing: 3px;
    h4{
      font-weight: bold;
      font-family:  $family1;     
    }
    p{
      font-size: 0.7rem; 
    }
  }
  .left-rate{
    position:absolute;
    left:65px;
    bottom:80px;
    height:65px;
    width:65px;
    border: 1px solid #e1e0df;
    color: #dedddd;
    text-align: center;
    font-size:0.7rem;
    background-color:rgba(0,0,0,0.4);
    h4{
      font-weight: bold;
      font-size:1rem;
      font-family: $family1;
    }
    p{
      font-family: $family1;
      font-weight: bold;
    }
    br{
      font-size:1px;
    }
  }
  .logo_section1{
    position:absolute;
    top: 0px;
    background-image: url('../img/logo2_hotel.png');
    background-size: cover;
    display:block;
    width:100px;
    height:30px;
    background-position: bottom;
  }
  .container{
    position:absolute;
    bottom:80px;
    color:#fff;
    display:flex;
    justify-content:center;
    text-align: center;
    h2{
      text-shadow: 1px 0px 4px #000000;
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: 15px;
      font-family:$family1;

    }
    h4{

        display: inline-block;     
      i{
        text-shadow: 1px 0px 4px #000000;
        font-size: 1.6rem;
        letter-spacing: 2px;
        font-weight: 300;
      }
    }
    img{
      margin-left:10px;
      width:30px;
      height:30px;
      display:inline-block;
    }
  }
}

// SECTION 1 END
/////////////////////////////////////////////////////////////////////////////////////////

// SECTION 2 START

#section2 {
  display:flex;
  justify-content:center;
  width:100%;
  height:480px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 100px;
  .text_section2{
    width:100%;
    margin-top: 20px;
    color:#000;
    display:flex;
    justify-content:center;
    text-align: center;
    flex-direction:column;
     h2{
      font-size: 2.5rem;
      letter-spacing: 12px;
      font-family: $family1;
      font-weight: 300;
    }
    p{
      color:#888888;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
  }
  .slide_section2{
    padding-top: 20px;
    width: 100%;
    height:300px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    .img_slide{
      position:relative;
      .img-slice-slider{
        width:275px;
        height:260px;
        margin: 0 15px;
        display:flex;
        justify-content:center;
        align-items: center;
        &:hover .lookMore {
        display:block;
    }
      }
      .img-slide1{
          background-image: url('../img/back21.png');
          background-size: cover;
        }
        .img-slide2{
          background-image:url('../img/back22.png');
          background-size: cover;
        }
        .img-slide3{
          background-image:url('../img/back23.png');
          background-size: cover;
        }
      p{
        padding-top: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;

      }
      .lookMore{
        display:none;
        width:100px;
        height:30px;
        color: #fff;
        border:1px solid #fff;
        text-align: center;
        line-height: 30px;
      }
    }
  }

  // start slider section2
  .container{
    overflow: hidden;
    width: 916px;
    position:relative;
    .slide_img_section2{
      display:flex;
      position:absolute;
      transition: all 750ms ease;
    }
  }

    

  .slider-section2-prev,
  .slider-section2-next{
    position:absolute;
    width:60px;
    height:80px;
    top:250px;
    transform: translateY(-50%);
    transition: all 150ms ease;
    &:hover{
      height:60px;

    }
  }
  .slider-section2-prev{
    background-image: url('../img/svg/left-arrow.svg');
    background-size: cover;
    left: 50px;
  }
  .slider-section2-next{
    background-image: url('../img/svg/next.svg');
    background-size: cover;
    right: 50px;
  }

  // end slide_section2
}
      

// SECTION 2 END
/////////////////////////////////////////////////////////////////////////////////////////

// SECTION 3 START

#section3{
  height:550px;
  width:100%;
  background-image: url('../img/back31.png');
  background-size: cover;
  background-position: bottom;
  .container{
    position:relative;
    display:flex;
    height:100%;
    align-items:center;
  .text-div-section3{
    @extend %text-div-sectionX-black;
    h4{  
      @include sectionX-black-h4(3.5rem,14px); 
    } 
    p{
      font-family: $family1;
      font-size:0.9rem;
    }
    .button-section3{
      @extend %button-black;
       &:hover{
          @extend %section-black-button-hover;
        }
    }
   }
  }

}


// SECTION 3 END
/////////////////////////////////////////////////////////////////////////////////////////

//SECTION 4 START

#section4{
  height:500px;
  .container{
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    .slide_section4,
    .text_section4{
      width:50%;
      height:80%;
    }
    .text_section4{
      padding-left:40px;
      h2{
        @include textInGaleryH2(4rem,15px);
      }
      p{
        font-weight: 300;
        font-size:0.9rem;
        font-family: $family1;
      }
      .button_section4{
        @extend %button-brown;
        &:hover{
          @extend %button-brown-hover;
        }
      }
    }

// slide_section4 start
    .slide_section4{
      position:relative;
      overflow: hidden;
      .ul_section4{
        display:flex;
        position:absolute;
        width: 300%;
        height:100%;
        .img_slide_section4{
          background-size: cover;
          width:100%;
          height:100%;
        }
        .img_slide_section4-1{
          background-image: url("../img/back41.png");
        }
        .img_slide_section4-2{
         background-image: url("../img/back21.png"); 
        }
        .img_slide_section4-3{
          background-image: url("../img/back22.png");
        }
      }
      .slider4-buttons{
        @extend %slider-smallbuttonMain;
        .slider4-prev,
        .slider4-pause,
        .slider4-next{
          @extend %slider-buttons3x ;
          border:1px solid black;
        }
        .slider4-prev{
          background-image: url("../img/svg/left-arrow.svg");
          &:hover{
          background-image: url("../img/svg/left2.png");    
          border:2px solid black;
          }
        }
        .slider4-pause{
          background-image: url("../img/svg/play.svg");
          &:hover{
          background-image: url("../img/svg/pause.png");    
          border:2px solid black;
          }
        }
        .slider4-next{
          background-image: url("../img/svg/next.svg");
          &:hover{
          background-image: url("../img/svg/right2.svg");    
          border:2px solid black;
          }
        }
      }
    }
// slide_section4 end 
  }
}

// SECTION 4 END
/////////////////////////////////////////////////////////////////////////////////////////


// SECTION 5 START

#section5{
  width:100%;
  height:500px;
  background-image: url('../img/back51.png');
  background-size: cover;
  background-position: bottom;
  .container{
    position:relative;
    display:flex;
    height:100%;
    align-items:center;
    .text-div-section5{
      @extend %text-div-sectionX-black;
      h4{
        @include sectionX-black-h4(2rem,10px);
      } 
      p{
        font-family: $family1;
        font-size:0.9rem;
      }
      .button-section5{
        @extend %button-black;
        margin-top: 20px;
        &:hover{
          @extend %section-black-button-hover;
        }
      }

    }
  }
}

// SECTION 5 END


////////////////////////////////////////////////////////////////////////////////////////////////

// SECTION 6 START

#section6{
  height:500px;
  .container{
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
     .slide_section6,
    .text_section6{
      width:50%;
      height:80%;
    }
     .text_section6{
      padding-left:40px;
      h2{
        @include textInGaleryH2(3rem,7px); 
      }
      p{
        font-weight: 300;
        font-size:0.9rem;
        font-family: $family1;
      }
      .button_section6{
        @extend %button-brown;
        &:hover{
          @extend %button-brown-hover;
        }
      }
    }

    // slide_section6 start
    .slide_section6{
      position:relative;
      overflow: hidden;
      .ul_section6{
        display:flex;
        position:absolute;
        width: 300%;
        height:100%;
        .img_slide_section6{
          background-size: cover;
          width:100%;
          height:100%;
        }
        .img_slide_section6-1{
          background-image: url("../img/back61.png");
        }
        .img_slide_section6-2{
         background-image: url("../img/back21.png"); 
        }
        .img_slide_section6-3{
          background-image: url("../img/back41.png");
        }
      }
      .slider6-buttons{
        @extend %slider-smallbuttonMain;
        .slider6-prev,
        .slider6-pause,
        .slider6-next{
          @extend %slider-buttons3x;
          border: 1px solid #fff; 
        }
        .slider6-prev{
          background-image: url("../img/svg/left-arrowWhite.png");
          &:hover{
          background-image: url("../img/svg/left2White.png");    
          border:2px solid #fff;
          }
        }
        .slider6-pause{
          background-image: url("../img/svg/playWhite.png");
          &:hover{
          background-image: url("../img/svg/pauseWhite.png");    
          border:2px solid #fff;
          }
        }
        .slider6-next{
          background-image: url("../img/svg/nextWhite.png");
          &:hover{
          background-image: url("../img/svg/right2White.png");    
          border:2px solid #fff;
          }
        }
      }
    }
// slide_section6 end 
  }
}

// SECTION 6 END


////////////////////////////////////////////////////////////////////////////////////////////////

// SECTION 7 START

#section7{
  width:100%;
  height:500px;
  background-image: url('../img/back71.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  .container{
    position:relative;
    display:flex;
    height:100%;
    align-items:center;
    .text-div-section7{
      @extend %text-div-sectionX-black;
      h4{
        @include sectionX-black-h4(2.5rem,8px);
        font-weight: 300;
      } 
      p{
        margin-top: 20px;
        font-family: $family1;
        font-size:0.9rem;
      }
      .button-section7{
        @extend %button-black;
        margin-top: 20px;
        &:hover{
          @extend %section-black-button-hover;
        }
      }

    }
  }
}


// SECTION 7 END


////////////////////////////////////////////////////////////////////////////////////////////////

// SECTION 8 START
#section8{
  width:100%;
  height:600px;
  position:relative;
  display:flex;
  .map{
    width:55%;
    height:100%;
  }
  .newsletter{
    width:45%;
    height:100%;
    display:flex;
    flex-direction:column;
    .newsletter-top,
    .newsletter-bottom{
      width:100%;
      height:50%;
      display:flex;
      align-items:center;
    }
    .newsletter-top{
      position:relative;
      .newsletter-top-background{
      width:100%;
      height:100%;
      background-image: url('../img/back81.png');
      background-position: right;
      }
    }
    .newsletter-top-mid{
      position:absolute;
      background-color:rgba(112, 31, 31, 0.9);
      width:100%;
      height:100%;
      padding: 25px;
      display:flex;
      align-items:center;
      .mid-left{
        height:100%;
      }
      .mid-left{
        width:40%;
        padding-top: 20px;
      }
      .adres{
        color:#fff;
        font-size: 1.1rem;
        padding: 0px 25px; 
      }
      .mid-reserwed{
        font-weight: bold;
        font-size:1.3rem;
        margin-top: 30px;
      }
      .mid-right{
        height:70%;
        border:1px solid #fff;
        margin:10px;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        width:60%;
        .mid-reserwed-right{
        font-weight: bold;
        font-size:1.5rem;
        letter-spacing: 5px;
        margin-bottom:30px;
       }
      }
    }
    .newsletter-bottom{
      display:flex;
      flex-direction:column;
      justify-content:center;
      background-color:#1a1414;
      color:#fff;
      h4.discount{
        font-family: $family1;
        padding-bottom: 20px;
        font-size:2rem;
        letter-spacing: 5px;
        font-weight: 100;
      }
      p.discount{
        font-family: $family1;
        font-size:0.6rem;
      }
      form{
        display:flex;
        justify-content:center;
        flex-direction:column;
        align-items:center;
        margin-top: 20px;
        .inputs{
          margin-bottom:15px; 
          display:flex;
          justify-content:center;  
          height:30px;
          ::placeholder{
              font-size:0.8rem;
              padding-left:15px;
            }
          .input[type=text]{
            border:none;
            width:200px;
           
          }
          button{
            background-color:#841f1f;
            border:none;
            transition-duration:500ms;
            transition-delay:100ms;
            color: #fff;
              &:hover{
                background-color:#800000;
              } 
            }
          }
        }
        .checkbox{
            font-size:0.6rem;
          }
      }
    }
  }

// SECTION 8 END


////////////////////////////////////////////////////////////////////////////////////////////////

//FOOTER

  footer{
    height:70px;
    width:100%;
    display:flex;
    .footer-left,
    .footer-right{
      width:50%;
      height:70px;
      }
      .footer-left{
        ul{
          display:flex;
          justify-content:space-around;
          width:100%;
          height:100%;
          align-items:center; 
          li{
            display:inline-block;
            font-size:0.7rem;
            color:#7b7172;
          }
        }
      }
      .footer-right{
        display:flex;
        justify-content:space-around;
        align-items:center;
        ul{
          height:100%;
          li{
            display:inline-block;
            .face,.instagram,.owl,.hotel{
              display:block;
              height:40px;
              width:40px;
              border:1px solid #d3d3d3;
              display:flex;
              justify-content:center;
              align-items:center;
              &:hover .img-hover{
                display:block;
              }
              &:hover .img1{
                display:none;
              }

              img{
                width:80%;
                height:80%;
              }
              .img-hover{
                width:80%;
                height:80%;
                display:none;
              }
            }
          }
        }
        .goTop{
          display:flex;
          align-items:center;
            &:hover .back-to-top-button{
              background-position-y: -500%;
              background-repeat: repeat-y;
              background-color:#841f1f;
              }
             &:hover .back-to-top{
              font-weight: 700;
             } 
          .back-to-top-button{
            margin-left: 20px;
            border-radius:3px;
            background-color:#000;
            background-image: url('../img/svg/up-arrow.png');
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center;
            display:block;
            height:40px;
            width:40px;
            border:1px solid black;
            transition-duration:1000ms;
            transition-delay:100ms;
          }
          font-family: $family1;
        }
      }
  }

    
        
      


//FOOTER



/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

// @import "max650";

@media screen and (max-width: 650px) {
    .container{
        width: 100vw !important;
      }  
  

/////////////////////////////////////////////////////////////////////////////////////////
// HEADER START
  header{
    width:100%;
    height:60px;
    .main_menu{
      display: none;
    }
    .nav_mobile{
      display:flex;
    }
    
    
  // mobile menu move start

  // .hamburger:focus ~ .mobile_menu, .mobile_menu:hover{
  //   transform:translateX(0);
  // }


  // mobile menu move start

  }


///////////////////////////////
// SECTION 1 START

#section1{
  height:300px;
  .left-rate{
    display:none;
  }
  .logo_section1{
    display:none;
  }
  .right-price{
    height:40px;
    width:auto;
    left: 50px;
    right:0px;
    h4{
      text-align: center;
      font-size:0.6rem;
    }
    p{
      text-align: center;
      font-size:0.5rem; 
    }
  }
  .text_section1{
    img{
      display:none;
    }
     h2 {
     font-weight: 700; 
    font-size: 1rem;
    letter-spacing: 0;
    }
    h4{
      i {
      font-size: 0.7rem;
      letter-spacing: 0px;
      font-weight: 300;
      }
    }
  }
}
      
// SECTION 1 END
///////////////////////////////////////////////////////////////////////////////////////////////////
// SECTION 2 START
  #section2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height:1000px;
    .text_section2{
      h2{
        font-size: 1rem;
        letter-spacing: 2px;
        }
        p{
          font-size: 0.6rem;
        }
      } 
    .slide_img_section2{
      display: block !important;
      .slide_section2{
        .img_slide {
          position: relative;
          width:100vw !important;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          }
        } 
      }
        .slider-section2-prev{
          top:500px;
          left:0;
          width:45px;
        }
        .slider-section2-next{
          top:500px;
          right:0;
          width:45px;
          background-position: right;
        }
    }

        
// SECTION 2 END
///////////////////////////////////////////////////////////////////////////////////////////////////
// SECTION 3 START
  #section3{
    margin-bottom:20px;
    .text-div-section3{
      width:100% !important;
      .button-section3{
        width:200px !important;
      }
    }
  }

// SECTION 3 END
///////////////////////////////////////////////////////////////////////////////////////////////////
// SECTION 4 START
#section4{
  height:600px;
  .container{
    flex-direction:column;
    height:auto;
    .slide_section4{
      width:100%;
      height:250px !important; 
      .img_slide_section4{
        background-position: center;
      }
    }
    .text_section4{
      padding-left:0 !important;
      width:100% !important;
    h2{
      padding:10px;
    }
    p{
      font-size:0.6rem;
      padding:10px;
    }
    .button_section4{
      margin-top: 20px;
      margin-left: 20px;
    }
    }
  }
}
// SECTION 4 END
///////////////////////////////////////////////////////////////////////////////////////////////////
// SECTION 5 START

  #section5{
    margin-bottom:20px;
    .container{
      .text-div-section5{
        width:100%;
        h4{
          font-size:1.5rem;
          letter-spacing: 5px;
        }
        p{
          font-size:0.7rem;
          margin-top: 30px;
        }
        .button-section5{
          width:200px;
        }
      }
    }
  }
      
// SECTION 5 END
///////////////////////////////////////////////////////////////////////////////////////////////////
// SECTION 6 START

  #section6{
  height:500px;
  .container{
    flex-direction:column;
    height:auto;
    .slide_section6{
      width:100%;
      height:250px !important; 
    }
    .text_section6{
      padding-left:0 !important;
      width:100% !important;
    h2{
      font-size:1.8rem;
      padding:10px;
    }
    p{
      font-size:0.6rem;
      padding:10px;
    }
    .button_section6{
      margin-top: 20px;
      margin-left: 20px;
    }
    }
  }
}

// SECTION 6 END
///////////////////////////////////////////////////////////////////////////////////////////////////
// SECTION 7 START

  #section7{
    .container{
      .text-div-section7{
        width:100%;
        h4{
          font-size:1.5rem;
          letter-spacing: 5px;
        }
        p{
          padding: 20px;
          font-size:0.7rem;
          margin-top: 30px;
        }
      }
    }
  }




// SECTION 7 END
///////////////////////////////////////////////////////////////////////////////////////////////////
// SECTION 8 START
#section8{
  flex-direction:column;
  height:650px;
  .map,.newsletter{
    width:100%;
  }
  .newsletter{
    .newsletter-top{
      .newsletter-top-mid{
        padding: 0;
        .mid-left{
          padding: 25px 10px;
          p{
            font-size:0.6rem;
          }
          .mid-reserwed{
            margin-top:0;
          } 
        }
        .mid-right{
          padding: 0;
          p{
            font-size:0.7rem;
          }
          .mid-reserwed-right{
            font-size:0.9rem;
            margin-bottom:15px;
          }        
        }
      }
    }
    .newsletter-bottom{
      padding-bottom: 15px;
      h4.discount{
        font-size:1rem;
        padding-bottom: 0;
        margin-bottom:2px;
       }
       form{
        height:60px;
        margin-top: 0;
        .inputs{
          margin-bottom:0;
        }
        .checkbox{
            margin-top: 5px;
          }
       }
      }
    }
  }

  footer{
    display:block;
    .footer-left,.footer-right{
      width:100%;
      }
      .footer-left{
        ul li{
          font-size:0.6rem;
        }
      }
      .footer-right{
        height:55%;
        .goTop{
          font-size:0.6rem;
        }
      }
    }
        
        
}//end of 650
        ////////////////////////////////////////////////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////

//start of 899
@media all and (min-width:651px) and (max-width:899px) {


header{
    width:100%;
    height:60px;
    .main_menu{
      display: none;
    }
    .nav_mobile{
      display:flex;
    }
    
    
  // mobile menu move start

  // .hamburger:focus ~ .mobile_menu, .mobile_menu:hover{
  //   transform:translateX(0);
  // }


  // mobile menu move start

  }
   
     ///////////////////////////////
// SECTION 1 START

#section1{
  height:300px;
  .logo_section1{
    display:none;
  }
  .text_section1{
     h2 {
    font-weight: 700; 
    font-size: 2rem;
    letter-spacing: 10px;
    }
    h4{
      i {
      font-size: 1rem;
      letter-spacing: 3px;
      font-weight: 300;
      }
    }
  }
}

// SECTION 1 END
/////////////////////////////////////////////////////////////////////////////////////////////////// 
  
///////////////////////////////////////////////////////////////////////////////////////////////////
// SECTION 2 START
  #section2{
    display: flex;
    justify-content: center;
    height:1000px;
    margin-top: 0px;
    .text_section2{
      h2{
        font-size: 2rem;
        letter-spacing: 10px;
        }
        p{
          font-size: 0.6rem;
        }
      } 
    .slide_img_section2{
      display: block !important;
      .slide_section2{
        .img_slide {
          position: relative;
          width:100vw !important;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          }
        } 
      }
        .slider-section2-prev{
          top:500px;
          left:0;
          width:45px;
        }
        .slider-section2-next{
          top:500px;
          right:0;
          width:45px;
          background-position: right;
        }
    }

        
// SECTION 2 END
///////////////////////////////////////////////////////////////////////////
// SECTION 8 START
#section8{
  flex-direction:column;
  height:650px;
  .map,.newsletter{
    width:100%;
  }
  .newsletter{
    .newsletter-top{
      .newsletter-top-mid{
        padding: 0;
        .mid-left{
          padding: 25px 10px;
          p{
            font-size:1rem;
          }
          .mid-reserwed{
            margin-top:0;
          } 
        }
        .mid-right{
          padding: 0;
          p{
            font-size:1rem;
          }
          .mid-reserwed-right{
            font-size:1.5rem;
            margin-bottom:15px;
          }        
        }
      }
    }
    .newsletter-bottom{
      padding-bottom: 15px;
      h4.discount{
        letter-spacing: 10px;
        font-size:1.5rem;
        padding-bottom: 0;
        margin-bottom:2px;
       }
       form{
        height:60px;
        margin-top: 0;
        .inputs{
          margin-bottom:0;
        }
        .checkbox{
            margin-top: 5px;
          }
       }
      }
    }
  }
// SECTION 8 END
}//end of 899

///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
// start od 900

@media all and (min-width:900px) and (max-width:1099px) {

header{
  nav{
    width: 88%; 
    height:100%;
    ul{
      li{
        font-size:0.5rem;
      }
    }
  }
}

////////////////////////////////////////////////////////
// start SECTION 1

#section1{
  .left-rate{
    left:30px;
  }
}



// end SECTION 1
////////////////////////////////////////////////////////////////////

// start SECTION 2
      #section2{
        .slider-section2-prev{
          left:10px;
        }
        .slider-section2-next{
          right:10px;
        }
      }
        
          


// end SECTION 2
////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
// SECTION 8 START
#section8{
  .newsletter{
    .mid-left{
      padding-top: 40px !important;
      .adres{
        padding: 0;
        font-size:0.8rem;
      }
    }
    .newsletter-bottom{
    h4.discount{
      font-size:1rem; 
      }
     }
    }
  }
      
// SECTION 8 END




}//end of 900

@keyframes animowany_in
{
  0% { transform:rotate(0); }
  40% { transform:rotate(-90deg); }
  100% { transform:rotate(-360deg); }
}
@keyframes animowany_out
{
  0% { transform:rotate(0); }
  40% { transform:rotate(90deg); }
  100% { transform:rotate(360deg); }
}



/*
body{
  background-image: url('../img/background.png');
}
nav{
  width: 60%;
  height: 60px;
  background-color: black;
  margin: 0 auto;
  border-radius: 6px;
  ul{
    height: 100%;
    display: flex;
    align-items:center;
    position: relative;
    li{
      display: inline-block;
      margin-left: 20px;
      font-size: 12px;
      a{
        color:  #c68642;
        text-decoration: none;
      }
      &.line{
        color:  #c68642;
        font-size: 30px;
        margin-bottom: 5px;
      }
      &.nav_right {
         flex:none;      }
      input{
        width: 100px;
        background-color:   #3c2f2f;
        border: none;
        padding-left: 10px;
      }
      button{
        font-size: 12px;
        margin-left: 0;
        background-color: #8d5524;
        height: 25px;
        width: 130%;
        color: #fff;
        border-radius: 4px;
        border:none;
      }
    }
  }
}

*/

